.my-col{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
}
.primeiraClasse{
    color:rgb(66, 65, 65);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    }
  .column {
    float: center;
    width: 30%;
    padding: 10px;
    }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }