.my-col{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
}
.my-box{
    label, textarea {
    display: "display box";
  }
  
  textarea {
    margin: 15px 0;
    width: 250px;
    height: 100px
  }
}
